spot-wrapper{
    margin: 10px;
}

.navbutton1{
    color: #212529 !important;
    background-color: #7BB2BE !important;
    border: #7BB2BE !important;
    margin-left: auto !important; 
    margin-right: 1rem;
}