body {
  background-color: #212529;
}

h2 {
  color: #7bb2be !important;
}

.wrapper {
  padding: 1rem;
}

.locations-table {
  margin-bottom: 0 !important;
}

* {
  box-sizing: border-box;
}

.table th {
    background: #fff;
    padding: 8px 10px;
    border-bottom: 1px solid #1a1a1a;
    font-weight: bold;
    text-align: left;
  }

th.up,
th.default,
th.down {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
}

.table th.up {
  background-image: url("./images/up_arrow.png");
}
.table th.down {
  background-image: url("./images/down_arrow.png");
}
.table th.default {
  background-image: url("./images/default.png");
}

