.navbutton2{
    color: #212529 !important;
    background-color: #7BB2BE !important;
    border: #7BB2BE !important;
    margin-right: 1rem;
    position:relative !important;
    float: right !important;
    text-align: right !important;
}
